<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>39670201405-fvp9cud6cep0nf3inrvgh5q2ae03v24f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39670201405-fvp9cud6cep0nf3inrvgh5q2ae03v24f</string>
	<key>API_KEY</key>
	<string>AIzaSyCoLesdtJbgp4QHgNhS2AJBmp3u18r7fbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>39670201405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nike-Retail</string>
	<key>PROJECT_ID</key>
	<string>nikeretail-e832d</string>
	<key>STORAGE_BUCKET</key>
	<string>nikeretail-e832d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39670201405:ios:60eaf4d090d34b5e</string>
	<key>DATABASE_URL</key>
	<string>https://nikeretail-e832d.firebaseio.com</string>
</dict>
</plist>